test_segm/venv/
test_segm/.idea/
fract_detect/venv/
fract_detect/.idea/
__pycache__/
fract_detect/app/src/__pycache__/
test_segm/weights.pth
fract_detect/app/src/*.pth
fract_detect/app/src/*.pt
*.pdf
fract_detect/app/src/tmp/*.jpg
fract_detect/app/src/tmp/*.png
fract_detect/app/src/tmp/*.jpeg
fract_detect/app/src/tmp/*.txt
test_segm/tmp/*.jpg
test_segm/tmp/*.png
test_segm/tmp/*.jpeg
test_segm/res/*.jpg
test_segm/res/*.png
test_segm/res/*.jpeg
!fract_detect/app/src/tmp/logo.png